/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 15px;
  border: 1px solid #000;
}
.content {
  /* border: 1px solid #000; */
  margin: 0 auto;
  width: 100%;
}
header {
  /* border: 1px solid #000; */
  width: 1200px;
  margin: 0 auto;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 70px;
  /* border: 1px solid #000; */
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.header__logo {
}
.header__menu {
}
.header__nav {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3a5f56;
  /* border: 1px solid #000; */
}
a {
  color: black;
}
.header__nav li:last-child {
  background-color: rgb(122, 82, 82);
  border-radius: 5px;
  align-items: center;
  width: 122px;
  height: 44px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.header__menu_act {
  color: white;
}

.header__nav li {
  margin-right: 20px;
}
.main {
  width: 100%;
}
.hello {
  display: flex;
  height: 980px;
  /* border: 1px solid #000; */
  background-color: #f4f3f0;
  align-items: center;
}

.hello__body {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000; */
  width: 1170px;
}
.hello__column {
  margin-top: 25%;
}
.hello__column_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #3a5f56;
  width: 477px;
  height: 116px;
}
.hello__column_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292c32;
  width: 534px;
  height: 112px;
  margin: 12px 0 28px 0;
}
.hello__column_btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #3a5f56;
  border-radius: 6px;
  padding: 10px 18px;
}
.hello__img {
}

.services {
}
.container {
}
.services__body {
  /* border: 1px solid orange; */
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 100px;
}
.services__body_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__mountain,
.preset__mountain {
  padding: 0 0 15px 0;
  text-align: center;
}
.services__title,
.preset__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #3a5f56;
  padding: 0 0 12px 0;
}
.services__text,
.preset__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #292c32;
  width: 590px;
  height: 68px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.services__body_row {
}
.services__body_item {
  margin: 16px 0 0 0;
  width: 380px;
  height: 310px;
  background: #f4f3f0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  padding: 30px 30px;
}
.services__body_logo {
  margin-bottom: 10px;
}
.services__body_name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #3a5f56;
  margin-bottom: 8px;
}
.services__body_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292c32;
  width: 310px;
  height: 90px;
  margin-bottom: 18px;
}
.services__body_btn,
.preset__body_btn {
  font-size: 17px;
  font-family: "Roboto";
  margin-top: 17px;
  color: #3a5f56;
  background: url(../img/vector.png) right no-repeat;
  padding: 0 30px 0 0;

  /* font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #3a5f56;
  background: none; */
}
/* .services__body_btn::after {
  content: "";
  background: url("/img/vector.png") 5px no-repeat;
  width: 20px;
  height: 10px;
} */
.services__body_button,
.preset__body_button {
  display: flex;
  align-items: center;
}
.services__body_button,
.preset__body_button img {
  margin-right: 6px;
}

.preset {
  width: 100%;
  background: #f4f3f0;
}
.preset__body {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 100px 0;
}

.preset__body {
  /* border: 1px solid orange; */
}
.preset__body_row {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
}
.preset__body_item {
  /* display: inline-flex; */
  /* border: 1px solid #000; */
  background: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  /* padding: 30px 30px; */
}
.preset__body_logo img {
  /* width: 100%; */
  /* border: 3px solid black; */
  border-radius: 16px 16px 0 0;
  margin-bottom: 30px;
}
.preset__body_name {
  /* text-align: center; */
  /* border: 1px solid #000; */
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #3a5f56;
  padding-left: 30px;
}

.preset__body_name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #3a5f56;
  margin-bottom: 8px;
  padding-left: 30px;
}
.preset__body_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292c32;
  width: 320px;
  height: 90px;
  margin-bottom: 18px;
  padding-left: 30px;
}
.preset__body_button {
  display: flex;
  justify-content: center;
  background: none;
  margin: 30px 0 0 0;
}
.preset__body_btn {
}
.contact {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.container {
}
.contact__body {
  background-color: #f4f3f0;
  width: 800px;
  height: 260px;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.contact__body_item {
  display: flex;
  justify-content: space-between;
  width: 640px;
  align-items: center;
  justify-items: center;
  background: #f4f3f0;
  margin: 0 auto;
  padding: 80px 0;
  border-radius: 16px;
}

.contact__body_text {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #292c32;
  width: 313px;
  height: 101px;
}
.contact__body_button {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* text-align: center; */
  color: #ffffff;
  background: #3a5f56;
  width: 125px;
  height: 58px;
  border-radius: 6px;
}

.footer {
  background: #292c32;
  width: 100%;
  height: 780px;
  display: flex;
  justify-content: center;
}
.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}
.footer__body {
  width: 1170px;
  height: 580px;
  /* border: 1px solid white; */
  margin-top: 100px;
}
.footer__row_1 {
  /* display: flex; */
}
.footer__column {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid orange; */
}
.footer__column_item {
}
.footer__column_name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #b87d58;
  margin-bottom: 10px;
}
.footer__column_menu {
}
.footer__column_list {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.footer__column_list li {
  margin-bottom: 10px;
  color: white;
}
.footer__column_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fafafc;
  width: 404px;
  height: 45px;
  margin-bottom: 8px;
}

.footer__column_2 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid orange; */
  width: 400px;
}

.footer__row_3 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000; */
  margin-top: 20px;
}
.footer_row_right {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.footer__row_social a {
  margin-right: 20px;
}
.footer__row_social img:last-child {
  margin-right: 0;
}

input {
  width: 460px;
  height: 50px;
  border-radius: 6px;
}
.footer__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fafafc;
  background: #000000;
  border-radius: 6px;
  width: 70px;
  height: 50px;
}

input::placeholder {
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ababab;
}

.preset__title {
  color: red;
}
.header__menu_act::before {
  content: "";
  background: url("./img/bascet.png") left no-repeat;
  width: 17px;
  height: 17px;
  padding: 0 0 0 25px;
}
.header__menu_act::after {
  content: "";
  background: url("./img/zero_2.png") right no-repeat;
  width: 20px;
  height: 20px;
  padding: 0 0 0 25px;
}

.footer__column_list a {
  color: white;
}
